.verticalNav {
  position: fixed;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 800;
  pointer-events: auto;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  color: var(--color-text-secondary);
  font-family: var(--font-primary);
  font-weight: 1000;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 8px 12px;
  margin-right: -12px;
  cursor: none;
  /* CustomCursor custom display */
  transition: color 0.3s ease;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--color-text-muted);
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.text {
  opacity: 0.6;
  transform: translateX(10px);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.3s ease;


}

/* Hover and Active interactions */
.navItem:hover,
.navItem.active {
  color: var(--color-accent);
}

.navItem:hover .dot,
.navItem.active .dot {
  background-color: var(--color-accent);
  transform: scale(2.2);
  box-shadow: 0 0 10px var(--color-accent);
}

.navItem:hover .text,
.navItem.active .text {
  opacity: 1;
  transform: translateX(0);
}